extends layout.pug

block title
  title Node Authentication

block content
  .container
    .jumbotron.text-center
      a.btn.btn-primary(href='/auth/linkedin', target="_top")
        span.fa
        |  Connexion Linkedin