doctype html
html
  head
    title Node Authentication
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body 		{ padding-top:80px; word-wrap:break-word; }
    script.
      window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
      t._e.push(f);
      };
      return t;
      }(document, "script", "twitter-wjs"));

      console.log(window.twttr.widgets);

      twttr.ready(
        function (twttr) {
          twttr.events.bind(
          'loaded',
          function (event) {
            twttr.widgets.createTweet(
            '511181794914627584',
            document.getElementById('container'),
            {
              align: 'left'
            });
          }
        );
        }
      );  
      
  body
    .container
      .row
        .col-sm-4.col-sm-offset-4
          .well
            h3.text-primary
              span.fa.fa-twitter
              |  Twitter
            p
              strong
                |  id : 
              |#{user.id}
            p
              strong
                |  token : 
              |#{user.token}
            p
              strong
                |  username : 
              |#{user.username}
            img(src=user.profile_image_url)

            a(href='/logout') Logout

    

    
