extends layout.pug

block title
  title Inscription recrutement

block content
  .container
    .jumbotron.text-center
      form(method="post", action="/user/update")
        input(type="hidden", value=id, name="id")
        input(type="radio", name="recrutement", value="true")
        input(type="radio", name="recrutement", value="false")
        input(type="submit")
